.editersChoice {
  max-width: 1440px;
  position: relative;
  margin: auto;
  margin-top: -320px;
}
.editersChoiceText {
  font-size: small;
  padding: 50px 0px 50px 250px;
  background-color: black 0.5;
  color: #ffffff;
}
.editersChoiceText h3 {
  width: 20%;
  display: flex;
  justify-self: flex-start;
}
.cards {
  display: flex;
  overflow-x: scroll;
  margin: auto;
  max-width: 100%;
  height: 400px;
  gap: 46px;
  padding: 22px;
}
.card {
  min-width: 240px;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.1);
}
.card .sliderText {
  height: 100%;
  color: #ffffff;
  top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  padding: 9px;
}
.card .sliderText p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .sliderText .dot {
  height: 5px;
  width: 5px;
  background-color: #3399ff;
  border-radius: 50%;
}
.card .sliderInfo {
  font-size: 22px;
  font-weight: 600;
}
.card .sliderInfo h4 {
  margin-top: 9px;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  justify-self: flex-start;
  background-color: blue;
  border-radius: 55px;
  padding: 5px;
  cursor: pointer;
}
